.order-summary-container {
  border-radius: 20px;
  max-width: 400px;
  max-height: 400px;
  height: 240px;
  width: 300px;
  padding: 30px;
  margin: 0px 40px;
  align-items: center; /* Выравнивание элементов по вертикали */
  box-shadow: rgba(0, 0, 0, 0.1) 3px 6px 12px 0px;
}

.order-summary-input-field {
  max-width: 300px;
  margin-bottom: 10px;
  border: 2px solid #f0f4f6;
  padding: 8px;
  /* background: ; */
  border-radius: 10px;
  font-size: 16px;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, color 0.3s; /* Плавное изменение цвета и границы */
}

.order-summary-total-container {
  font-size: 18px;
  margin: 0px 0px 10px 0px;
}
.order-summary-total-field {
  font-weight: bold;
}
